@model WebApplication1.Models.AjouterEmploye
@{
    ViewBag.Title = "Formulaire d'ajout de personnel";
}
@using (Html.BeginForm("Inscrire", "Formulaire", FormMethod.Post))
{
    <fieldset>
        <p>
            <div>Nom de l'employé :</div>
            @* INPUT À FAIRE *@
        </p>

        <p>
            <div>Prénom de l'employé :</div>
            @* INPUT À FAIRE *@
        </p>

        <p>
            <div>Email de l'employé :</div>
            @* INPUT À FAIRE *@
        </p>
    </fieldset>

    <input type="submit" value="Envoyer" />
}